.editor {
    display: flex;
    margin-top: 15px;
}

.editor-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#card-information-edit {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: lightgrey solid 3px;
}

#card-general-information-edit {
    margin: 10px;
}

.card-information-edit-content {
    width: 100%;
}

#edit-file-layout {
    margin: 10px;
}

#card-information-edit {
    background-color: #4d4d4d;
}

.file-wrapper {}

.file-wrapper:hover {
    background-color: #666666;
}

.file-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: auto;
    padding: 3px;
}

.name-input:disabled {
    background-color: transparent;
    color: black;
}