.editor {
    display: flex;
    margin-top: 15px;
}

.editor-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#card-information-edit {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: lightgrey solid 3px;
}

#card-general-information-edit {
    margin: 10px;
}

.card-information-edit-content {
    width: 100%;
}