.editor {
    display: flex;
    margin-top: 15px;
}

.editor-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#card-information-edit {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: lightgrey solid 3px;
}

#card-general-information-edit {
    margin: 10px;
}

.card-information-edit-content {
    width: 100%;
}

#edit-file-layout {
    margin: 10px;
}

.folder {
    display: flex;
    flex-direction: column;
}

.file {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.folder-content {
    margin-left: 8px;
}

.folder-name {
    display: flex;
    flex-direction: row;
    justify-items: center;
}